# Kconfig — i.MX RT1180 EVK machine (appended to QEMU hw/arm/Kconfig)

config IMXRT1180_EVK
    bool
    default y
    depends on TCG && ARM
    select IMXRT1180_SOC

config IMXRT1180_SOC
    bool
    select ARM_V7M
    select UNIMP
    select IMXRT1180_ENET
    select PTIMER
